.subject {


    ol {


        .science {
            color: red;
            font-size: $fontsmall;
        }

        .art {
            color: blue;
            font-size: $fontmini;
        }

        .comm {
            color: green;
            font-size: $fontsmall;
        }
    }
}